/* for gallery page  */

.select {
  text-align: center;
  margin-top: 0.5%;
  font-size: 21px;
  /* color: #343a40; */
  letter-spacing: 0.17em;

  position: relative;
  /* z-index: 1; */
}

.gloww {
  text-align: center;
  /* display: flex; */
  position: relative;
  color: white;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  font-family: "SimSun", "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  /* margin: 20%; */
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #f8f9fa,
    #e9ecef,
    #dee2e6,
    #ced4da,
    #adb5bd,
    #6c757d,
    #495057,
    #343a40,
    #212529
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .glow-on-hover {
    margin-bottom: 10%;
  }
  .gallery-logo .logo {
    font-size: 80px;
  }
  .typewriter .type,
  .select {
    font-size: 18x;
  }
}

@media only screen and (max-width: 300px) {
  .gallery-logo .logo {
    font-size: 60px;
  }
  .typewriter .type,
  .select {
    font-size: 16px;
  }
}
