/* FOR THE CONTACT US, GALLERY AT THE TOP, AND THE LOGO  */

body {
  font-family: "SimSun", "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: white;
}

/* ABOUT, GET IN TOUCH, YOUR ACCOUNT */

ul {
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

ul li {
  padding: 0px 0;
}

ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}

/* underline effect */

.underlineeffect li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background-color: black;
  transition: transform 0.7s;
  transform: scaleX(0);
  transform-origin: initial;
}

li {
  list-style-type: none;
  top: 50px;
  right: 0px;
  float: none;
  margin-right: 70px;
  margin-top: 20px;
  display: inline-block;
}

ul li a:hover {
  color: rgb(66, 33, 33);
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.top-banner {
  border-style: solid;
  border-color: #343a40;
  text-align: center;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.logo {
  font-size: 120px;
  font-weight: 20;
  text-align: center;
  font-family: "SimSun", "Oswald", sans-serif;
  text-transform: uppercase;
  color: #343a40;
  background-image: linear-gradient(to left, black);
  -webkit-background-clip: text;
  background-clip: text;
  float: unset;
  line-height: 0%;
}

.typewriter p {
  font-family: "SimSun", "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5%;
  font-size: 21px;
  color: #343a40;
  letter-spacing: 0.17em;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.17em solid white;
  animation: typing 4.5s steps(35, end), blinking-cursor 0.5s step-end;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 400px) {
  .logo {
    font-size: 80px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
  90% {
    border-color: transparent;
  }
}

.mainContent {
  width: 100%;
  max-width: 1024px;
  padding: 0 4%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #e2eafc;
  margin: 40px;
  border-radius: 7px;
  font-size: 17px;
  transition: all 1s;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 1s box-shadow;
  justify-content: center;
}

.icon {
  margin: 20px auto 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background-color: #e2eafc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000407;
  background-position: 0px;
  background-size: 200px;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 24px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-weight: light;
}

.card:hover {
  height: 270px;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 125px;
}

.text {
  text-align: center;
  font-size: larger;
  color: #201f20;
  text-transform: none;
}

@media only screen and (max-width: 600px) {
  .account-header .logo {
    font-size: 30px;
  }

  .account-typewrite .typewriter .acct-type {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    font-size: 90px;
  }
}

@media only screen and (max-width: 300px) {
  .logo {
    font-size: 60px;
  }
}
